@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="mb-3">
    <h1>@ViewBag.Message</h1>
</div>

<form enctype="multipart/form-data" method="post" asp-controller="Exposure" asp-action="Upload">
    <div class="mb-5">
        <div class="row">
            <div class="form-group">
                <h3>1. Select a Database</h3>
                <select class="form-control-sm" name="selectDB">
                    <option selected>Choose a Database</option>
                    <option value="SICS">SICS</option>
                    <option value="TRANSLATION TABLE">Translation Table</option>
                </select>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-6 mb-3">
                <h3>2. Upload a File</h3>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" name="file" />
                    <label class="custom-file-label" for="customFile">Choose file</label>
                    <i>Only Excel file .xls, .xlsx</i>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <div class="row">
            <div class="col-6">
                <div class="float-left">
                    <button type="submit" id="submit" name="Submit" class="btn btn-info">Upload</button>
                    <button asp-controller="Exposure" asp-action="Index" type="submit" class="btn btn-light" data-dismiss="modal">Back to List</button>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });

       @*$('#upload').click(function () {
            debugger;
            var formData = new FormData();
            formData.append('file', $('#inputFile')[0].files[0]);
            var _url = '@Url.Action("Upload", "Exposure")';

            $.ajax({
                url: _url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,

                success: function (result) {
                },
                error: function (jqXHR) {
                },
                complete: function (jqXHR, status) {
                }
            });
        });*@


  @*$('#upload').click(function () {
    $('#load').show();

    $.ajax({
        url: '@Url.Action("Upload","ExposureController")',
        type: 'POST',
        cache: false,
        beforeSend: function(){
          $('#load').show();
        }
        success: function(data) {
            $('#load').hide();
        }
    });
});*@


</script>